name: Build
on: [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v6
      with:
        node-version: '*'
    - uses: actions/checkout@v6
    - run: npm install
    - run: npm run test
